@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("chrome-extension://kgijfpboagjijpghdmnndcdlfjmhhcib/font/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("chrome-extension://kgijfpboagjijpghdmnndcdlfjmhhcib/font/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://kgijfpboagjijpghdmnndcdlfjmhhcib/font/Roboto-Regular.ttf") format("truetype");
}

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

/* fix for scrollbar appearing just next to clock */
::-webkit-scrollbar {
  display: none;
}

/* styling */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.04rem;
  color: #fff; /* white */
  background-color: #212121; /* gray 900 */
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff; /* white */
}

/* app */

#app {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* tabs with tiles */

#tabs-wrapper {
  position: static;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#tabs-nav {
  position: relative;
  top: 95px;
  left: 0;
  right: 0;
  text-align: center;
}

#tabs-nav .tab-nav-item {
  position: relative;
  margin: 0 8px;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  max-width: 130px;
  width: 100%;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

#tabs-nav .tab-nav-item:hover,
#tabs-nav .tab-nav-item.active-tab-nav-item {
  background-color: #fff; /* white */
  color: #757575; /* gray 600 */
  text-shadow: none;
}

#tabs-nav .tab-nav-item:hover .tab-nav-item-remove {
  display: block;
  animation: showTabRemove 0;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes showTabRemove {
  from { opacity: 0; }
  to { opacity: 1; }
}

#tabs-nav .tab-nav-item .tab-nav-item-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-image: url(img/assets/icon-tab-remove.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
}

#tab-nav-item-add {
  position: relative;
  margin: 0 8px;
  display: inline-block;
  background-image: url(img/assets/icon-tab-add.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px #fff; /* white */
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#tabs {
  position: static;
  max-width: 1395px; /* 8 cols */
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 30px 0;
  display: block;
}

#tabs .tab {
  display: block;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

#tabs .tab:not(.active-tab) {
  display: none;
  opacity: 0;
}

#tabs .tab.active-tab {
  display: block;
  opacity: 1;
}

#tabs .tab .tile-wrapper {
  position: relative;
  user-select: none;
}

#tabs .tab .tile-wrapper.currently-dragged .tile:hover .tile-remove {
  display: none;
  animation: none;
}

#tabs .tab .tile-wrapper .tile {
  position: relative;
  padding: 6px 8px 8px 8px;
  float: left;
  width: 150px;
  height: 84px;
  margin: 12px;
  background-color: transparent;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

#tabs .tab .tile-wrapper .tile:hover .tile-remove {
  display: block;
  animation: showTileRemove 0;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}

@keyframes showTileRemove {
  from { opacity: 0; }
  to { opacity: 1; }
}

#tabs .tab .tile-wrapper .tile .tile-remove {
  position: relative;
  float: right;
  display: none;
  width: 18px;
  height: 18px;
  background-image: url(img/assets/icon-tile-remove.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  z-index: 10;
}

#tabs .tab .tile-wrapper .tile .tile-name {
  font-size: 1.05rem;
  font-weight: 400;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 85%;
}

#tabs .tab .tile-wrapper .tile .tile-url {
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
  opacity: 0.7;
}

#tabs .tab .tile-wrapper .tile .tile-brand-logo {
  position: relative;
  top: 100%;
  transform: translateY(-240%);
  float: right;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #fff; /* white */
}

#tabs .tab .tile-add {
  position: relative;
  display: inline-block;
  width: 151px;
  height: 84px;
  margin: 12px;
  background-image: url(img/assets/icon-tile-add.svg);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  border: solid 1px #fff; /* white */
  cursor: pointer;
  overflow: hidden;
}

/* overlay with popup window */

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
}

#popup-window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -210px;
  padding: 20px;
  box-sizing: border-box;
  width: 420px;
  height: auto;
  background-color: #fff; /* white */
  border-radius: 8px;
}

#popup-window h1 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #212121; /* gray 900 */
}

/* add window */

#popup-window input[type=text] {
  display: block;
  margin-bottom: 15px;
  padding: 14px 15px;
  box-sizing: border-box;
  background-color: #EEEEEE; /* gray 200 */
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  font-weight: 300;
  color: #212121; /* gray 900 */
}

#popup-window input[type=text]::-webkit-input-placeholder {
  color: #757575; /* gray 600 */
}

#popup-window button {
  float: right;
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #2979FF; /* blue a400 */
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff; /* white */
  cursor: pointer;
}

#close-window {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(img/assets/icon-overlay-popup-window-close.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
}

/* info window */

#popup-window .info-message {
  display: block;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.4;
  color: #212121; /* gray 900 */
}

#popup-window .button {
  float: right;
  display: block;
  margin-top: 10px;
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #212121; /* gray 900 */
  cursor: pointer;
}

#popup-window .button.accept {
  border: 0;
  border-radius: 4px;
  background-color: #2979FF; /* blue a400 */
  color: #fff; /* white */
}

/* clock */

#clock {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: -0.04rem;
  line-height: 1;
  color: #fff; /* white */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* search box */

#search-box {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  max-width: 440px;
}

#search-input {
  padding: 14px 50px 14px 60px;
  box-sizing: border-box;
  background-color: #fff; /* white */
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  font-weight: 300;
  color: #212121; /* gray 900 */
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
}

#search-input::-webkit-input-placeholder {
  color: #757575; /* gray 600 */
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(img/assets/icon-search.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  width: 60px;
  height: 48px;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

#search-provider {
  position: absolute;
  top: 0;
  left: 15px;
  width: 28px;
  height: 48px;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
}

/* feedback link */

#feedback {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 24px;
  background-image: url(img/assets/icon-feedback.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: transparent;
  overflow: hidden;
  text-align: right;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#feedback:hover {
  height: 48px;
}

#feedback a {
  position: relative;
  margin-top: 24px;
  text-decoration: none;
  color: #fff; /* white */
  font-size: 0.75rem;
  line-height: 24px;
  display: block;
}

/* settings */

#settings-open {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-image: url(img/assets/icon-settings-open.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
}

#settings-close {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-image: url(img/assets/icon-settings-close.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
}

#settings {
  position: absolute;
  top: 0;
  right: -400px;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background-color: #fff; /* white */
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.2) -2px 2px 8px 0px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

#settings h1 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #212121; /* gray 900 */
}

#settings .settings-section {
  position: relative;
  width: 100%;
  border-top: solid 1px #E0E0E0; /* gray 300 */
  padding: 20px 0;
}

#settings .settings-section .settings-section-item {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

#settings .settings-section .settings-section-item:last-child {
  margin-bottom: 0;
}

#settings .settings-section .settings-section-item-title {
  padding: 10px 0;
  color: #212121; /* gray 900 */
  font-size: 0.9rem;
  display: inline-block;
}

#settings .settings-section .settings-section-item-switch {
  -webkit-appearance: none;
  margin: 10px 0;
  padding: 0;
  background-color: #E0E0E0; /* gray 300 */
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  float: right;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 40px;
  height: 20px;
}

#settings .settings-section .settings-section-item-switch::before {
  width: 16px;
  height: 16px;
  background-color: #fff; /* white */
  border-radius: 50%;
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 3px;
  transition: 0.3s ease-in-out;
}

#settings .settings-section .settings-section-item-switch:checked {
  background-color: #2979FF; /* blue a400 */
}

#settings .settings-section .settings-section-item-switch:checked::before {
  left: 21px;
}

#settings-wallpaper-user-upload-input {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -100;
}

#settings-wallpaper-user-upload-label {
  display: inline-block;
  padding: 10px 20px;
  border: solid 1px #9E9E9E; /* gray 500 */
  border-radius: 4px;
  box-sizing: border-box;
  color: #757575; /* gray 600 */
  cursor: pointer;
  font-size: 0.9rem; /* 0.9rem instead of 1rem as ghost buttons make font to look bigger */
}

#settings-wallpaper-user-upload-reset {
  display: inline-block;
  padding: 10px 0;
  margin-left: 20px;
  color: #757575; /* gray 600 */
  cursor: pointer;
  font-size: 0.9rem; /* 0.9rem instead of 1rem as ghost buttons make font to look bigger */
}

#settings .settings-section .settings-section-item-select {
  -webkit-appearance: none;
  margin: 0;
  padding: 10px 30px 10px 15px;
  width: auto;
  background-color: #fff; /* white */
  border: solid 1px #212121; /* gray 900 */
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  float: right;
  color: #212121; /* gray 900 */
  font-size: 0.9rem;
  text-align-last: center;
  background-image: url(img/assets/icon-settings-tiles-columns-select.svg);
  background-size: 30px 24px;
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.6;
}

#settings .settings-section .settings-section-item-select > option {
  padding: 0;
  margin: 0;
  font-weight: 100;
  color: #212121; /* gray 900 */
}

/* wallpaper */

#wallpaper-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 16px;
  color: #fff; /* white */
  font-size: 0.75rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: left;
  transition: 0.3s ease-in-out;
}

#wallpaper-info:hover {
  height: 34px;
}

#wallpaper-location {
  cursor: pointer;
  line-height: 1.5;
}

#wallpaper-author {
  font-style: italic;
  line-height: 1.5;
}

/* onboarding */

.onboarding-tip-circle {
  position: absolute;
  bottom: -180px;
  right: -100px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.2) -2px -2px 8px 0px;
}

.onboarding-tip-circle:after {
  content: "";
  position: absolute;
  left: 310px;
  top: 230px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 0px 2000px #2979FF; /* blue a400 */
  cursor: pointer;
}

.onboarding-tip-text-container {
  position: absolute;
  top: 120px;
  left: 75px;
  width: 300px;
  z-index: 10;
}

.onboarding-tip-text-container h1 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.onboarding-tip-text-container p {
  line-height: 1.3;
}

#onboarding-tip-close {
  position: absolute;
  top: 55px;
  right: 115px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(img/assets/icon-onboarding-tip-close.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

/* media queries */

@media screen and (max-width: 1800px) {
  #tabs {
    max-width: 1220px; /* 7 cols */
  }
}

@media screen and (max-width: 1600px) {
  #tabs {
    max-width: 1045px; /* 6 cols */
  }
}

@media screen and (max-width: 1400px) {
  body {
    zoom: 0.9;
  }
}

@media screen and (max-width: 1200px) {
  body {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1000px) {
  #tabs {
    max-width: 870px; /* 5 cols */
  }
}

@media screen and (max-width: 850px) {
  #tabs {
    max-width: 700px; /* 4 cols */
  }
}
